body
{
    font-family: Arial, sans-serif;
    margin: 0;
    background: rgb(203, 203, 203);
    color: #333;
}

header
{
    background: #2c3e50;
    color: white;
    padding: 1rem;
    text-align: center;
}
header nav ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
header nav a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.intro
{
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
}
.intro
{
    max-width: 100%;
    border-radius: 10px;
    margin-top: 1rem;

}

.links
{
    text-align: center;
    padding: 2rem;
    background: #eaf1f8;
}
.cards
{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}
.cards
{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}
.card
{
background: white;
border-radius: 10px;
padding: 1.5rem;
width:200px;
box-shadow: 0 2px 6px rgba (0,0,0,0,2);
text-decoration: none;
color: #333;
transition: transform 0.2s;

}
.card-hover
{
    transform: scale(1.05);
    background: #dceeff;
}
.titulo
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin: 0.5rem 0;
}
.intro {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 2000px;
  margin: 2rem auto;
  padding: 2rem;
  gap: 2rem;
}

.intro-texto {
  flex: 2;
  text-align: left;
}

.intro-texto h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.intro-texto p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.intro-imagen {
  flex: 1;
  text-align: right;
}

.intro-imagen img 
{
  max-width: 400px;
  width: 100%;
  height: auto;
}


.barra-tema {
  position: relative;
  overflow: hidden;
  height: 170px;
  transition: height 0.5s ease;
  color: white;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  margin: 2rem 0;
  border-left: 4px solid black;
  padding-left: 10px;
}

.barra-tema.expanded {
  height: 300px;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.barra-tema h2 {
  font-size: 2rem;
  margin: 0;
}

.barra-tema a {
  color: white;
  text-decoration: none;
}

.barra-tema p {
  display: none;
  margin-top: 1rem;
  font-size: 1rem;
  max-width: 700px;
  line-height: 1.5;
}

.barra-tema.expanded p {
  display: block;
}


.barra-tema.software
{
    background-image: url("imagenes/barrasoftware.jpg");
}
.barra-tema.hardware
{
    background-image: url("imagenes/barrahardware.jpg");
}



.descripcion
{
    display: none;
    max-width: 900px;
    margin: 1rem auto;
    padding: 1rem;
    background: #eaf1f0;
    border-radius: 10px;
    text-align: left;
    color: #333;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}